$animation-params: .7s cubic-bezier(0.68, -0.95, 0.265, 1.95);

.btn {
    position: fixed;
    top: -27px;
    left: -100px;
    width: 200px;
    height: 54px;
    color: #fff;
    background: none;
    border: 2px solid #fff;
    align-items: center;
    font-family: inherit;
    font-size: 1.8rem;
    letter-spacing: 0px;
    cursor: pointer;
    transition: letter-spacing $animation-params;
    &:hover {
        letter-spacing: 10px;
    }
    &:focus {
        outline: none;
    }
}

.btn-container {
    position: fixed;
    top: 0;
    left: 0;
}