// $animation-params: .7s cubic-bezier(0.68, -0.95, 0.265, 1.95);

%base-button {
  display: none;
  align-content: center;
  justify-content: center;
  width: 200px;
  height: 54px;
  margin: 60px auto;
  color: #fff;
  background: none;
  border: 2px solid #fff;
  align-items: center;
  font-family: inherit;
  font-size: 1.8rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.btn {
  @extend %base-button;

  &__icon {
    position: relative;
    width: 0.9em;
    height: 1em;
    margin-left: 12px;
    overflow: hidden;
    img {
      position: absolute;
      top: 3px;
      left: 0;
      &:nth-child(2) {
        left: -1.5em;
      }
    }
  }
  &:hover {
    img {
      transform: translate3d(1.5em, 0, 0);
      transition: transform 0.5s ease;
    }
  }
}

.btn-float {
  @extend %base-button;
  position: fixed;
  top: calc(50vh - 27px);
  left: calc(50vw - 100px);
  margin: 0;
  transform: translate3d(0, 24vh, 0);
}

.btn-float-container {
  opacity: 0;
  transition: opacity 0.5s ease;

  &.active {
    opacity: 1;
  }
}

.mobile .btn-float {
  display: flex;
}

.desktop .btn {
  display: flex;
}
