.description {
  font-size: 1.125rem;
  letter-spacing: 0.8px;
  line-height: 1.35em;
  &--background {
    background-color: rgba(255, 255, 255, 0.5);
  }
  &__decoration {
    display: none;
  }
}

@include desktop {
  .main-page .description {
    position: relative;
    font-size: 1.125rem;
    margin-top: 3rem;
    @include header-font;
    font-size: 4rem;
    color: $color-basic;
    text-transform: lowercase;
    &__sm {
        font-size: 1em;
        line-height: 1em;
    }
    &__md {
        font-size: 1.5em;
        line-height: 1em;
    }
    &__lg {
        font-size: 2.3em;
        line-height: 1em;
    }
    &__char {
        line-height: 1em;
        font-size: 0.7em;
    }
    &__char--special {
        margin: 0 0.5rem;
        font-size: 0.7em;
    }
    &__decoration {
      position: absolute;
      bottom: -30px;
      display: block;
      width: 200px;
    }
    &--background {
      background: none;
    }
  }
}