@media only screen and (orientation: landscape) {
  .main-page {
    .wrapper {
      padding-top: 14vh;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .title {
      margin: 0 40px 0 auto;
    }
    .description {
      flex-basis: 50%;
      text-align: left;
    }
  }
}
