$list:
(size: 28, space-top: 10, space-left: 22, dasharray: 232),
(size: 35, space-top: 34, space-left: 49, dasharray: 382),
(size: 37, space-top: 45, space-left: 2, dasharray: 390),
(size: 27, space-top: 63, space-left: 61, dasharray: 260),
(size: 28, space-top: 84, space-left: 23, dasharray: 420),
(size: 37, space-top: 107, space-left: 49, dasharray: 365),
(size: 29, space-top: 127, space-left: 8, dasharray: 295),
// (size: 31, space-top: 154, space-left: 45, dasharray: 465),
// (size: 37, space-top: 176, space-left: 11, dasharray: 375),
;



.previews-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.works-page__list-item {
  width: 100%;
  max-width: 400px;
}

.gradient-digit {
  position: absolute;
  height: 38px;
  margin-top: 15px;
  margin-left: 13px;
  z-index: 1;
  path, polyline {
    stroke-width: 24;
    fill: none;
    transition: stroke-dashoffset 2s cubic-bezier(0.23, 1, 0.32, 1);
  }
}

@each $preview in $list {
  $i: index($list, $preview);
  .preview-#{$i} {
    path, polyline {
      stroke-dasharray: #{map-get($preview, dasharray)};
      stroke-dashoffset: #{map-get($preview, dasharray)};
    }
  }
}

.preview--active path, .preview--active polyline {
  stroke-dashoffset: 0;
}

.works-page {
  &__list-item {
    padding: 40px 0;
    cursor: pointer;
 
    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 82px;
      height: 160px;
      margin-top: -53px;
      margin-left: -15px;
      background: rgba($color-second, 0.5);
      transform: rotate(45deg);
      z-index: 1;
    }
    img {
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }
}

@include desktop {
  @each $preview in $list {
    $i: index($list, $preview);
    .preview-#{$i} {
      width: calc(#{map-get($preview, size)}vw - 40px);
      transform: translate3d(#{map-get($preview, space-left) * 0.85}vw, #{(map-get($preview, space-top))}vw, 0);
    }
  }
  .works-page__list-item {
    position: absolute;
    left: 7vw;
    max-width: initial;
  }

  .gradient-digit {
    height: 80px;
    position: absolute;
    margin-top: -31px;
    margin-left: -16px;
    z-index: 1;
  }
  .previews-list {
    position: relative;
    min-height: 155vw;
  }

  .works-page {
    &__list-item {
      img {
        filter: grayscale(100%);
        transition: filter 1s ease;
      }
      &.preview--active img {
        filter: grayscale(0%);
      }
    }
  }
}

