.route-link {
  position: fixed;
  top: 17px;
  outline: none;
  z-index: 2;
  user-select: none;

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    z-index: -1;
    top: -6.5px;
    left: -6.5px;
  }

  &--left {
    left: 17px;
  }

  &--right {
    right: 17px;
  }

  span {
    display: none;
  }

  img {
    width: 27px;
  }

  @include desktop {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 100vh;
    color: $color-basic;
    @include actions-font;
    font-size: 18px;
    text-transform: uppercase;

    &:before, img {
      display: none;
    }

    &--left {
      left: 0;
    }
  
    &--right {
      right: 15px;
    }

    &:hover span {
      letter-spacing: 4px;
    }
    &:focus {
      outline: none;
    }
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 300px; // 300 - max text width
      transform: rotate(-90deg);
      transition: letter-spacing ease 0.5s;
      pointer-events: none;

      &::before, &::after {
        content: '';
        display: inline-block;
        height: 2px;
        width: 10px;
        margin: 0 5px;
        background: $color-accent;
      }
    }
    &--left {
      left: 0;
      border-right: 1px solid $color-basic-light;
    }
    &--right {
      width: 90px - 15px;
      right: 15px; // Space for scrollbar
      border-left: 1px solid $color-basic-light;
    }
  }
}

.works-link {
  img {
    width: 40px;
  }
  &::before {
    width: 52px;
  }
}
