.route-link {
  position: fixed;
  top: 17px;
  background: none;
  border: none;
  outline: none;

  &--left {
    left: 17px;
  }

  &--right {
    right: 17px;
  }

  span {
    display: none;
  }

  img {
    width: 27px;
  }

  @include tablet {
    width: 90px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;

    &--left {
      left: 0;
    }
  
    &--right {
      right: 15px;
    }

    &:hover span {
      letter-spacing: 4px;
    }
    &:focus {
      outline: none;
    }
    span {
      display: block;
      width: 300px;
      margin-left: 45px - 150px;
      color: green; // $color-light-basic;
      transform: rotate(-90deg);
      transition: letter-spacing ease 0.5s;
      pointer-events: none;
      // @media (max-width: $breakpoint-phone) {
      //   margin-left: - 130px;
      // }
    }
    &--left {
      left: 0;
      border-right: 1px solid rgba(green, 0.3); // $color-light-basic
    }
    &--right {
      width: 90px - 15px;
      right: 15px; // Space for scrollbar
      border-left: 1px solid rgba(green, 0.3); // $color-light-basic
    }
  }
}