.route-link {
  position: fixed;
  top: 17px;
  background: none;
  border: none;
  outline: none;
  z-index: 2;

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    z-index: -1;
    top: -6.5px;
    left: -6.5px;
  }

  &--left {
    left: 17px;
  }

  &--right {
    right: 17px;
  }

  span {
    display: none;
  }

  img {
    width: 27px;
  }

  &.works-link img {
    width: 40px;
  }

  @include tablet {
    top: 0;
    width: 90px;
    height: 100vh;
    padding: 0;
    background: none;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    cursor: pointer;

    &:before, img {
      display: none;
    }

    &--left {
      left: 0;
    }
  
    &--right {
      right: 15px;
    }

    &:hover span {
      letter-spacing: 4px;
    }
    &:focus {
      outline: none;
    }
    span {
      display: block;
      width: 300px;
      margin-left: 45px - 150px;
      color: $color-basic; // $color-light-basic;
      transform: rotate(-90deg);
      transition: letter-spacing ease 0.5s;
      pointer-events: none;
    }
    &--left {
      left: 0;
      border-right: 1px solid rgba($color-basic, 0.3); // $color-light-basic
    }
    &--right {
      width: 90px - 15px;
      right: 15px; // Space for scrollbar
      border-left: 1px solid rgba($color-basic, 0.3); // $color-light-basic
    }
  }
}

.mobile .route-link {
  color: $color-second;
}