<div class="wrapper wrapper--slim">
    <button class="route-link route-link--left animated--alpha main-page-link">
        <span>Main page</span>
    </button>
    <button class="route-link route-link--right animated--alpha works-link">
        <span>Works</span>
    </button>
    <img src="../assets/me.jpg" class="photo animated delay-4"/>
    <p class="description__md animated"> I am Mateusz Walendzik,</p>
    <p class="description__md animated delay-3">front-end developer and<br>fan of the digital graphic in free time.</p>
    <br>
    <p class="description__md animated delay-2">What I know?</p>
    <ul class="tags-list tags-list--hidden animated">
        <tags>
    </ul>
    <span><a class="link-mailto animated delay-3" href="mailto:&#109;&#097;&#116;&#101;&#046;&#119;&#097;&#108;&#101;&#110;&#100;&#122;&#105;&#107;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">mate.walen<span class="hidden-part">abc</span><i class="icon">&#xe80d;</i><span>dzik</span>@g<i class="icon dialog-big">&#xe80e;</i>mail.com</a></span>
    <section class="social-link animated delay-4">
        <a href="https://github.com/mateuszJS" class="icon" target="_blank" rel="noopener noreferrer" >&#xe803;</a>
        <a href="https://www.linkedin.com/in/mateusz-walendzik-549141161/" class="icon" target="_blank" rel="noopener noreferrer" >&#xe805;</a>
    </section>
</div>