<div class="wrapper">
    <a class="route-link route-link--left works-link">
        <span>Works</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 73 43"><path d="M16.9 38.6c-.9 0-1.8-.3-2.5-1L1 24a3.5 3.5 0 0 1 0-5L14.4 5.5a3.5 3.5 0 0 1 5 0 3.5 3.5 0 0 1 0 5l-10.9 11 10.9 11a3.5 3.5 0 0 1 0 5 4 4 0 0 1-2.5 1.1zm41.7-1.1L72 24a3.5 3.5 0 0 0 0-5L58.6 5.5a3.5 3.5 0 0 0-5 0 3.5 3.5 0 0 0 0 5l10.9 11-10.9 11a3.5 3.5 0 0 0 2.5 6c.9 0 1.8-.3 2.5-1zM51.2.3s-2.4-1.1-6.9 1.3c-5.2 2.7-6.1 7.1-6 9.1s1.3 3.9 4.3 3.7c3-.2 4.4-3 4.6-4.7 1.1-8.7 4-9.4 4-9.4zm-9.8 16.9s-3.4-.2-4.5-2.6c-5.4 1.9-16.1 26.5-13 28.2 3.4 2 18.4-21.1 17.5-25.6z" fill="gray"/></svg>
    </a>
    <a class="route-link route-link--right contact-link">
        <span>About</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 69 69"><path fill="gray" d="M34.2 0C15.4 0 0 15.4 0 34.2s15.4 34.2 34.2 34.2S68.4 53 68.4 34.2 53.1 0 34.2 0zm19.4 55.5a19.4 19.4 0 0 0-38.6 0 28.8 28.8 0 1 1 38.6 0z"/><ellipse transform="rotate(-13.3 34.3 23.6)" fill="gray" cx="34.3" cy="23.6" rx="8.9" ry="8.9"/></svg>
    </a>
  </section>
    <section class="description">
      <p class="description__sm animated delay-3 title-hello"><span>hello<span class="dekstop-only">!</span></span></p>
      <div>
        <p class="description__md animated delay-2"><span class="description--background">I'<span class="description__char">m</span> Mateusz</span></p>
        <p class="description__lg animated delay-1"><span class="desktop-only">Front-end dev</span></p>
        <p class="description__lg animated delay-1"><span class="description--background mobile-only">Frontend Developer and</span></p>
        <p class="description__lg animated delay-1"><span class="description--background mobile-only">graphics enthusiast</span></p>
        <p class="description__md animated delay-3"><span class="description--background">Welcome to my</span></p>
        <p class="description__md animated delay-4"><span class="description--background">portoflio<span class="mobile-only">!</span></span></p>
      </div>
    </section>
    <button class="btn btn-desktop animated delay-4">
        <span>
          Works
        </span>
          <div class="btn__icon">
            <svg version="1" class="arrow-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 30"><style>.st0{fill:none;stroke:currentColor;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10}</style><path class="st0" d="M1 15h27"/><path class="st0" d="M18 4l11 11-11 11"/></svg>
            <svg version="1" class="arrow-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 30"><style>.st0{fill:none;stroke:currentColor;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10}</style><path class="st0" d="M1 15h27"/><path class="st0" d="M18 4l11 11-11 11"/></svg>
          </div>
    </button>
</div>
