<div class="wrapper">
    <section class="description">
        <p class="description__sm animated delay-3">Hello!</p>
        <p class="description__md animated delay-2">I'<span class="description__char">m</span> Mateusz</p>
        <p class="description__lg animated delay-1">Coder<span class="description__char--special">&amp;</span>Designer</p>
        <p class="description__md animated delay-3">From poland</p>
        <p class="description__sm animated delay-4 mobile-break-line">Welcome to my<br>portfolio</p>
    </section>
    <section class="main-page-column">
        <div class="animated">
            <button class="btn">Works</button>
        </div>
        <a class="link animated delay-2">About me &amp; contact&nbsp;</a>
    </section>
</div>