<div class="wrapper">
    <a class="route-link route-link--left works-link">
        <span>Works</span>
        <img src="../assets/work-icon.svg" />
    </a>
    <a class="route-link route-link--right contact-link">
        <span>About</span>
        <img src="../assets/info-icon.svg" />
    </a>
  </section>
    <section class="description">
      <p class="description__sm animated delay-3 title-hello"><span>hello<span class="dekstop-only">!</span></span></p>
      <div>
        <p class="description__md animated delay-2"><span class="description--background">I'<span class="description__char">m</span> Mateusz</span></p>
        <p class="description__lg animated delay-1"><span class="desktop-only">Front-end dev</span></p>
        <p class="description__lg animated delay-1"><span class="description--background mobile-only">Frontend Developer and</span></p>
        <p class="description__lg animated delay-1"><span class="description--background mobile-only">graphics enthusiast</span></p>
        <p class="description__md animated delay-3"><span class="description--background">Welcome to my</span></p>
        <p class="description__md animated delay-4"><span class="description--background">portoflio<span class="mobile-only">!</span></span></p>
      </div>
    </section>
    <button class="btn btn-desktop animated delay-4">
        <span>
          Works
        </span>
          <div class="btn__icon">
            <svg version="1" class="arrow-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 30"><style>.st0{fill:none;stroke:currentColor;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10}</style><path class="st0" d="M1 15h27"/><path class="st0" d="M18 4l11 11-11 11"/></svg>
            <svg version="1" class="arrow-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 30"><style>.st0{fill:none;stroke:currentColor;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10}</style><path class="st0" d="M1 15h27"/><path class="st0" d="M18 4l11 11-11 11"/></svg>
          </div>
    </button>
</div>
