$transition: transform 0.5s ease, opacity 0.5s ease;

.preview-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(#fff, 0.8);
    opacity: 1;
    @media (max-width: $breakpoint-phone) {
        z-index: 1;
    }
    @at-root {
        div#{&} {
            transition: opacity 0.5s ease;
        }
    }
    img#{&}__picture {
        width: 95%;
        height: 95%;
        position: absolute;
        object-fit: contain;
        transition: $transition;
        &.left {
            opacity: 0;
            transform: translateX(-150px);
        }
        &.right {
            opacity: 0;
            transform: translateX(150px);
        }
    }
    &__btn {
        position: absolute;
        background-color: rgba(#000, 0.5);
        opacity: 0.5;
        margin-top: -15vw;
        width: 30vw;
        height: 30vw;
        border-radius: 20vw;
        border: none;
        transition: $transition;
        cursor: pointer;
        @media (max-width: $breakpoint-phone) {
            margin-top: -20vw;
            width: 40vw;
            height: 40vw;
            opacity: 0.75;
        }
        &:before, &:after {
            display: block;
            content: '';
            width: 40px;
            height: 7px;
            border-radius: 2px;
            background-color: rgba(#fff, 0.9);
            transform-origin: 100% 50%;
            transition: transform 0.5s ease;
        }
        &:before {
            position: relative;
            top: 12px;
            transform: translateX(3vw) rotate(45deg);
            @media (max-width: $breakpoint-phone) {
                top: 6px;
            }
        }
        &:after {
            transform: translateX(3vw) rotate(-45deg);
            @media (max-width: $breakpoint-phone) {
                position: relative;
                top: -5px;
            }
        }
        &:hover {
            opacity: 1;
            &:before {
                transform: translateX(5vw) rotate(45deg);
            }
            &:after {
                transform: translateX(5vw) rotate(-45deg);                    
            }
        }
        &:focus {
            outline: none;
        }
        &--left {
            left: -20vw;
            transform: rotate(180deg);
        }
        &--right {
            right: -20vw;
        }
    }
    &__close-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        position: absolute;
        top: 4vh;
        right: 5vw;
        cursor: pointer;
        background-color: rgba(#000, 0.5);
        opacity: 0.5;
        transition: transform 0.5s ease,
                    opacity 0.5s ease;
        &:before, &:after {
            display: block;
            content: '';
            position: absolute;
            width: 40px;
            height: 5px;
            border-radius: 0px;
            background-color: #fff;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
        &:hover {
            transform: rotate(90deg);
            opacity: 1;
        }
    }
    &__action-group {
        @media (min-width: $breakpoint-phone-up) {
            &.deactivate {
                .preview-modal__close-btn {
                    opacity: 0;
                    transform: translateY(-50px);
                }
                .preview-modal__btn--left {
                    opacity: 0;
                    transform: translateX(-50px) rotate(180deg);
                }
                .preview-modal__btn--right {
                    opacity: 0;
                    transform: translateX(50px);
                }
                .preview-modal__info {
                    opacity: 0;
                    transform: translateX(50px);
                }
            }
        }
        .preview-modal__btn--left:hover {
            opacity: 1;
            transform: translateX(0px) rotate(180deg);
        }
        .preview-modal__btn--right:hover {
            opacity: 1;
            transform: translateX(0px);
        }
    }
}

.modal-hidden {
    opacity: 0;
    pointer-events: none;
}