.trans {
    &-left {
        .animated {
            opacity: 0;
            transform: translate3d(-20vw, 0, 0);// scale3d(0.2, 1, 1);
            &--alpha {
                opacity: 0;
            }
        }
    }
    &-right {
        .animated {
            opacity: 0;            
            transform: translate3d(20vw, 0, 0);// scale3d(0.2, 1, 1);
            &--alpha {
                opacity: 0;
            }
        }
    }
}