.desktop-only {
  display: none;
}

@include desktop {
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: block;
  }
}

html {
  font-size: 14px;
  @media (min-width: 335px) {
    font-size: 16px;
  }
}

@include desktop {
  @media (max-height: 780px) {
    html {
      font-size: 14px;
    }
  }
  @media (max-height: 690px) {
    html {
      font-size: 12px;
    }
  }
}