$color-basic: #444;
$color-second: #fff;
$color-basic-light: rgba($color-basic, 0.3);
$color-accent: rgb(59, 121, 255);
$color-accent-complementary: #ff9900;
$color-preview: rgba(#000, 0.75);
$color-preview-front: #fff;