@font-face {
    font-family: 'bebas_neueregular';
    src: url('../assets/bebasneue-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'palanquinregular';
    src: url('../assets/palanquin-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'portoflio';
    src: url('../assets/font/portoflio.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}