@font-face {
    font-family: 'OfficeCodePro';
    src: url('../assets/font/OfficeCodePro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'portfolio';
    src: url('../assets/font/portfolio.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}